.text-center h1 {
    font-size:460%;
    margin: 0;
    padding: 0;
}

.text-center .role {
    font-size: 150%;
    margin: 0;
    padding: 0;
    color: rgb(54, 230, 107);
    font-family:monospace;
}

.socialicons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding-top: 20%;
    gap: 35px;
}




