.card-title-inline {
    display: flex;
    gap: 3px;
}

.card-title-inline h4 {
    margin-right: 10px;
}

.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    width: 200px;
    /* Adjust width as needed */
    background-color: #ffffff;
    /* Background color for the tooltip */
    color: #000000;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    /* Position it above the icon */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 3.8s;
    width: 300px;
    font-size:medium;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    /* Arrow at the bottom of the tooltip */
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #ffffff transparent transparent transparent;
    /* Arrow color */
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}