.text-center .about-me{
    padding-bottom: 9%;
    margin: 0;
    font-size: 60px;
}

.text-center{
    padding-bottom: 20%;
}


.text-center .about{
    font-family: Georgia, 'Times New Roman', Times, serif;
}