.text-center h1 {
    font-size:460%;
    margin: 0;
    padding: 0;
}

.text-center .role {
    font-size: 190%;
    margin: 0;
    padding: 0;
}

.socialicons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding-top: 20%;
    gap: 20px;
}
